@import "globals";

body.front {

	#header {
		h1 {
			font-size: 334%;
		}

		#slogan {
			font-size: 110%;
		}
	}

	@include media-wide {

		$header-width: 340px;
		$header-pos: 120px;
		$header-padding: 30px;

		#header {
			margin: 0;

			position: fixed;
			width: $header-width - $header-padding;
			top: 0;
			bottom: 0;
			left: 50%;
			margin-left: -($site-width/2) + $header-pos;

			padding: 143px $header-padding 0;

			@include media-need-shrink {
				left: 0;
				margin-left: 0;
			}
		}

		#content, #sidebar {
			float: none;
			width: auto;		
			padding-left: $header-pos + $header-width + $section-padding*2;

			@include media-need-shrink {
				padding-left: $header-width + $header-padding;
				padding-right: 0;
			}

			color: white;
			background: transparent;
		}

		#footer {
			color: black;
			background: rgba(white, $color-opacity*0.34);
			width: $site-width*0.34;
			margin: 100px auto 0;
			padding: 10px 0 20px;

			ul li a {
				color: black;
			}
		}

	}
}


