/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$site-width: 1000px;
$section-margin: 6px;
$section-padding: 18px;
$section-gutter: $section-margin + $section-padding;

$color-bg: #00284c;
$color-a: #7de1ff;
$color-opacity: .43;

$bg-img-url: "../waterfall.jpg";

@mixin media-wide {
	@media (min-width: 600px) {
		@content;
	}
}

body {
	color: white;
	background: $color-bg;
	text-align: center;
	font-size: 14pt;
	font-family: Verdana, sans;

	background: {
		image: url($bg-img-url);
		repeat: no-repeat;
	}

	@include media-wide {
		background-size: 100% auto;
	}
}

article {
	text-align: left;
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

p {
	margin-bottom: 12px;
}

h1 {
	color: white;
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 8px;
	padding: 3px;
}

h2 {
	color: white;
	font-size: 112%;
	font-weight: bold;
	margin-bottom: 8px;
	padding: 3px;
}

#main h1, h2 {
	background: rgba($color-a, $color-opacity*0.74);
	border-radius: 5px;
}

#header {
	background: rgba($color-a, $color-opacity);

	padding: 10px 0;
	h1 {
		font-size: 130%;
	}

	#slogan {
		font-size: 80%;
	}

	@include media-wide {
		margin-bottom: 30px;
	}
}

#main {
	color: black;

	overflow: hidden;
	@include media-wide {
		width: $site-width;
		margin: 0 auto;
	}

	section {
		margin: $section-margin;
		border-radius: 8px;
		padding: $section-padding;
	}
}

#content {
	background: rgba($color-a, $color-opacity * 1.2);

	@include media-wide {
		width: $site-width * 0.6 - 2*$section-gutter;
		float: right;
	}
}

#sidebar {
	background: rgba($color-a, $color-opacity * .7);

	@include media-wide {
		width: $site-width * 0.4 - 2*$section-gutter;
		float: left;
	}
}

#footer {
	font-size: small;
	background: rgba(black, .9);
	padding: 30px 0 70px;
	@include media-wide {
		clear: both;
		margin-top: 100px;
	}
}

body.front {

	#header {
		h1 {
			font-size: 334%;
		}

		#slogan {
			font-size: 110%;
		}
	}

	@include media-wide {

		$header-width: 340px;
		$header-pos: 120px;

		#header {
			margin: 0;
			$padding: 30px;

			position: fixed;
			width: $header-width - $padding;
			top: 0;
			bottom: 0;
			left: 50%;
			margin-left: -($site-width/2) + $header-pos;

			padding: 143px $padding 0;
		}

		#content, #sidebar {
			float: none;
			width: auto;		
			padding-left: $header-pos + $header-width + $section-padding*2;

			color: white;
			background: transparent;
		}

		#footer {
			color: black;
			background: rgba(white, $color-opacity*0.34);
			width: $site-width*0.34;
			margin: 100px auto 0;
			padding: 0;
		}

	}
}

#nav {
	ul {
		li {
			display: inline-block;
			a {
				color: black;
				font-size: 85%;
				text-decoration: none;
				padding: 5px;
				border-radius: 5px;

				&:hover {
					background: rgba($color-a, $color-opacity*0.8);
				}
			}
			margin: 5px 2px;
		}
	}
}
