/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-sizing";

@import "globals";

body {
	color: white;
	background: $color-bg;
	text-align: center;
	font-size: 14pt;
	font-family: Verdana, sans;

	background: {
		image: url($bg-img-url);
		repeat: no-repeat;
	}

	@include media-wide {
		background-size: 100% auto;
	}
}

article {
	text-align: left;
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

p {
	margin-bottom: 12px;
}

h1 {
	color: white;
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 8px;
	padding: 3px;
}

h2 {
	color: white;
	font-size: 112%;
	font-weight: bold;
	margin-bottom: 8px;
	padding: 3px;
}

#main h1, h2 {
	background: rgba($color-a, $color-opacity*0.74);
	border-radius: 5px;
}

#header {
	background: rgba($color-a, $color-opacity);

	padding: 10px 0;
	h1 {
		font-size: 130%;
                a {
                    color: white;
                    text-decoration: none;
                }
	}

	#slogan {
		font-size: 80%;
	}

	@include media-wide {
		margin-bottom: 30px;
	}
}

#main {
	color: black;

	@include media-wide {
		width: $site-width;
		margin: 0 auto;
		overflow: hidden;

		@include media-need-shrink {
			width: 100%;
		}

	}

	section {
		border-radius: 8px;
		margin: $section-margin;
		padding: $section-padding;
		@include box-sizing("border-box");

		@include media-wide {
			margin: 0;
		}
	}
}

#content {
	background: rgba($color-a, $color-opacity * 1.2);

	@include media-wide {
		width: $site-width * 0.72 - $section-spacing/2;
		float: right;
		@include media-need-shrink {
			width: 79%;
		}
	}

}

#sidebar {
	background: rgba($color-a, $color-opacity * .7);

	@include media-wide {
		width: $site-width * 0.28 - $section-spacing/2;
		float: left;
		@include media-need-shrink {
			width: 20%;
		}
	}

}

#footer {
	font-size: small;
	background: rgba(black, .9);
	padding: 30px 0 70px;
	@include media-wide {
		clear: both;
		margin-top: 100px;
	}
}

#nav {
	ul li {
		display: inline-block;
		a {
			color: black;
			font-size: 85%;
			text-decoration: none;
			padding: 5px;
			border-radius: 5px;

			&:hover {
				background: rgba($color-a, $color-opacity*0.8);
			}
		}
		margin: 5px 2px;
	}
}

#footer-nav {
	ul li {
		line-height: 1.2;
		a {
			color: $color-a * 0.4;
		}
	}
}

@import 'front';
