/* line 6, ../sass/front.scss */
body.front #header h1 {
  font-size: 334%;
}
/* line 10, ../sass/front.scss */
body.front #header #slogan {
  font-size: 110%;
}
@media (min-width: 600px) {
  /* line 21, ../sass/front.scss */
  body.front #header {
    margin: 0;
    position: fixed;
    width: 310px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -380px;
    padding: 143px 30px 0;
  }
  /* line 39, ../sass/front.scss */
  body.front #content, body.front #sidebar {
    float: none;
    width: auto;
    padding-left: 496px;
    color: white;
    background: transparent;
  }
  /* line 53, ../sass/front.scss */
  body.front #footer {
    color: black;
    background: rgba(255, 255, 255, 0.1462);
    width: 340px;
    margin: 100px auto 0;
    padding: 10px 0 20px;
  }
  /* line 60, ../sass/front.scss */
  body.front #footer ul li a {
    color: black;
  }
}
@media (min-width: 600px) and (min-width: 600px) and (max-width: 999px) {
  /* line 21, ../sass/front.scss */
  body.front #header {
    left: 0;
    margin-left: 0;
  }
}
@media (min-width: 600px) and (min-width: 600px) and (max-width: 999px) {
  /* line 39, ../sass/front.scss */
  body.front #content, body.front #sidebar {
    padding-left: 370px;
    padding-right: 0;
  }
}
